.Arpan{
  font-style:italic ;
}
h3{
  font-style:italic ;
}
h1{
  text-align: center;
  border: solid 2px black;
  width: fit-contain;
  margin: 3px auto;
  padding: 10px 40px;
  border-radius: 100px
}
.my-element{
  background-image: url("Image/3223761-3840x2160-desktop-hd-summer-nature-wallpaper-photo.jpg");
}